---
//Componentes
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPick from "../components/SocialPick.astro";
import AboutMe from "../components/AboutMe.astro";
import Proyectos from "../components/Proyectos.astro";
import TimeLine from "../components/TimeLine.astro"


//Iconos
import UnrealInIcons from "../Icons/UnrealInIcons.astro";
import UnityInIcons from "../Icons/UnityIcons.astro";
import InstagramIcons from "../Icons/Instagram.astro";
import LinkedInIcons from "../Icons/Linkedin.astro";
import GitHubIcons from "../Icons/GitHub.astro";
import TwitterIcons from "../Icons/Twitter.astro";
import ProfileIcons from "../Icons/ProfileIcons.astro";
import Code from "../Icons/Code.astro";
import UnityIcons from "../Icons/UnityIcons.astro";
//Hola
---


<Layout title="ManGe Porfolio - Inicio">
  <main class="px-4 ">
    <SectionContainer class="section py-16 md:py-36" id="Inicio">
      <div class="max-w-xl">
      <img
        class="rounded-full  size-16 mb-4 animate-fade-in-left"
        src="https://avatars.githubusercontent.com/u/123424785?v=4"
        decoding="async"
        alt="ManGe"
      />
      <h1
        class="text-4xl font-bold tracking-tight text-gray-800 dark:text-white sm:text-5xl animate-fade-in-left"
      >
        Hey, Soy Miguel Ángel
      </h1>
      <div
        class="mt-2 py-5 items-center space-y-2 text-lg font-medium leading-none dark:text-white lg:mt-0 lg:flex lg:space-y-0 lg:space-x-2"
      >
        <p class="animate-fade-in-left">Experiencia desarrollando en</p>
        <div class="flex space-x-2 animate-fade-in-left">
          <span class="group flex items-center space-x-1.5">
            <div class="mb-1 h-6 w-6  rounded-full dark:bg-transparent">
              <UnityIcons />
            </div>
            <div aria-label="Abrir Unity" onclick="window.open('https://unity.com/')" class="dark:group-hover:text-yellow-400 opacity-80 transition delay-75 ease-in-out cursor-pointer"
            >
              Unity
            </div>
          </span>
        </div>
      </div>
      <h2 class="text-2xl opacity-80 text-wrap animate-fade-in-left">
        <span class="dark:text-gray-300 dark:opacity-80 text-black"
          >+1 año desarrollando</span
        >. <span class="dark:text-yellow-400">Programador de Videojuegos y Level Art.</span> <span
          class="dark:opacity-75"
          >De Ciudad Real, España. <span>Especializado en Post Processing y Input Actions.</span
        >
      </h2>
      <nav class="flex flex-wrap gap-x-4 mt-8 animate-fade-in-left">
        <SocialPick
          href="https://www.linkedin.com/in/miguel-angel-villarreal-torres-514826280/"
          aria-label="Visitar Linkedin"
        >
          <LinkedInIcons class="w-6 h-6" />
        </SocialPick>
        <SocialPick
          href="https://github.com/ByManGe1"
          aria-label="Visitar GitHub"
        >
          <GitHubIcons class="w-6 h-6" />
        </SocialPick>

        <SocialPick href="https://x.com/XSManGe1" aria-label="Visitar Twitter">
          <TwitterIcons class="w-6 h-6" />
        </SocialPick>

        <SocialPick
          href="https://www.instagram.com/elmange25/"
          aria-label="Visitar Instagram"
        >
          <InstagramIcons class="w-6 h-6" />
        </SocialPick>
      </nav>
    </div>
    </SectionContainer>

    <SectionContainer  class="pb-40 animate-fade-in-right">
      <h2
        id="Proyectos"
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Code class="size-8" />
        Experiencia
      </h2>
      <TimeLine />
    </SectionContainer>

    <SectionContainer class="pb-40 animate-fade-in-right" id="SobreMi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <ProfileIcons class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>



