---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-black dark:text-white md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
      Mi interés en la programación comenzó cuando tenía 14 años y me dedicaba a crear 
      mod menus para <strong>GTA 5 en la PS3.</strong> Esta experiencia inicial fue un punto de inflexión 
      en mi vida, ya que despertó en mí una pasión por la programación y el desarrollo de 
      software. En ese momento, pasaba horas investigando en foros, leyendo documentación 
      y aprendiendo a base de prueba y error.
    </p>

    <p>
      Con el tiempo, este interés se transformó en una habilidad más profunda y versátil. 
      Me volqué en aprender a <strong>desarrollar videojuegos utilizando Unreal Engine 5 y Unity.</strong> 
      A través de la autodidáctica, me he convertido en un desarrollador competente, capaz
      de crear experiencias inmersivas y visualmente impresionantes.
    </p>

    <p>
      Hoy en día, <strong>sigo apasionado por los videojuegos y el desarrollo de software.</strong> 
      Mi objetivo es continuar aprendiendo y mejorando mis habilidades, explorando nuevas 
      tecnologías y métodos para crear juegos aún más innovadores y atractivos.
    </p>
  </div>

</article>