---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-black dark:text-white md:flex-row max-w-xl">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 dark:[&>p>strong]:text-yellow-400 [&>p>strong]:font-normal text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Miguel Ángel. Empecé en la programación con una 
      PlayStation 3 cuando tenía 15 años. <strong>Actualmente estoy 
      practicando mis conocimientos en desarrollo de videojuegos.</strong>
    </p>

    <p>
      Algunos de mis proyectos incluyen <strong>juegos de terror</strong>. 
      Aunque hoy está desaparecido, fue donde más aprendí las 
      bases de Unity.
    </p>

    <p>
      Hoy en día, <strong>sigo apasionado por los videojuegos y el desarrollo de software.</strong> 
      Mi objetivo es continuar aprendiendo y mejorando mis habilidades, explorando nuevas 
      tecnologías y métodos para crear juegos aún más innovadores y atractivos.
    </p>
  </div>

</article>