---
import Dowload from "../Icons/Dowload.astro"
---

<div class="flex gap-x-5 gap-y-16">
  <article
  id = "card"
    class=" dark:bg-transparent mb-12 flex flex-col bg-contact border dark:border-white/20 border-black/20 sm:w-[400px] rounded-lg hover:scale-105 transition-all duration-300 ease-in-out"
  >
    <img
      id="cardImage"
      class="sm:w-[365px] rounded-lg m-4 opacity-90  transition-all duration-300 ease-in-out "
      src="LastPost.png"
      alt="LastPost"
    />
    <h3 class="text-xl font-bold text-black dark:text-white mx-4 mb-4">Atm칩sfera Nocturna</h3>
    <div class="mb-4">
      <ul class="flex flex-row mb-4 gap-x-2 mx-4">
        <li>
          <span
            class="flex items-center gap-x-2 rounded-full text-xs bg-black py-1 px-2 bg-[#075985] text-white"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              preserveAspectRatio="xMidYMid"
              viewBox="0 0 256 264"
              width="20"
              height="20"
              ><path
                d="M166.9 131.2L212.8 52l22.2 79.2-22.2 79.3-46-79.3zm-22.4 13l46 79.2-80-20.5L52.6 144h91.8zM190.4 39l-45.9 79.3H52.7l57.7-58.8 80-20.5zm65.5 65.2L228 0 123.4 28l-15.5 27.2-31.4-.2L0 131.2l76.5 76.3 31.4-.2 15.5 27.2 104.5 27.9 28-104.2-15.9-27 16-27z"
                fill="#fff"></path></svg
            > Unity 3D
          </span>
        </li>
      </ul>
      <p class="text-base mx-4 text-black dark:text-white">
        Este es un efecto de post-procesamiento visual en Unity, 
        dise침ado para recrear una atm칩sfera nocturna con niebla de 
        manera m치s natural y realista, destacando los reflejos 
        detallados del agua.
      </p>

      <button type="button" onclick="window.location.href='https://download850.mediafire.com/o8v8e3t09vegIXvXThXtjnu_Exf-XEAxdP7vk-Bp-0O1QdGCsScz2iIfo8md6pPwu11i0Oa7k6U2Cvo8fGfv6OvKZXX1uQSkNWb9Q3xJDWxs_KzAdYjPAO6BG46XYAuKrEHVOmp-vH8UlPPtSNtCbCdzEz3Es3FyqXrNaZBarIIzMg/ip8tvda9bx34ewg/LastPost.unitypackage'" class="mt-1 -ms-1 p-1 inline-flex items-center gap-x-2 text-xs rounded-lg border border-transparent text-gray-500  disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 ">
        <Dowload class=" size-6 m-5">
    </button>
    </div>
  </article>
</div>



